* {
    font-family: Arial, Helvetica, sans-serif;
}

#profile-pic {
    margin-top: 20px;
    width: 150px;
    border-radius: 15%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 50%;
    text-align: center;
}

section {
    text-align: justify;
}

h3 {
    text-align: center;
    color: #a75a1c;
}


.rrss {
    width: 50px;
}

h4 {
    margin-left: 10px;
}


#qr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Mobile */
@media screen and (max-width: 700px) {

    body {
        background-color: #28272c;
    }

    .container {
        margin: 10px;
        color: aliceblue;
    }

    .section-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        text-align: center;
    }

    footer ul {
        display: table;
        margin: 0 auto;
    }

    footer li {
        display: inline;
    }

    footer li a {
        text-decoration: none;
        color: black;
    }

    .rrss {
        margin-left: 10%;
    }

    .mobile-center {
        margin: 0 auto;
        text-align: center;
    }

    .mobile-center section {
        text-align: center;
    }

    .nobull{
        list-style-type: none;
        text-align: center;
    }

}

/*PC*/

@media screen and (min-width: 800px) {

    body {
        background-color: white;
    }

    .orange {
        color: orange;
    }

    .portfolio {
        margin-top: 20px;
        width: 100%;
        margin-right: auto;
    }

    .line {
        border: 4px solid black;
        border-radius: 5px;
    }

    .left {
        margin-left: 0;
        margin-right: auto;
        width: 40%;
        margin-left: 5%;
    }

    .right {
        margin-left: auto;
        margin-right: 0;
        width: 40%;
        margin-right: 5%;
        color: black;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
        width: 40%;
    }

    footer ul {
        display: table;
        margin: 0 auto;
    }

    footer li {
        display: inline;
    }

    footer li a {
        margin: 50px;
        text-decoration: none;
        color: black;
    }

    .personal-data {
        color: #f1ece4;
        background-color: #28272c;
        margin-right: 20px;
        margin-left: 20px;
        padding-right: 20px;
        padding-left: 20px;
        border-color: white;
        border-radius: 10px;
    }

    footer h3 {
        color: black;
    }
}